
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: lightblue;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dissapear {
    animation: vanish 2s forwards;
}

@keyframes vanish {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}